.button {
  padding: 1.8rem;
  white-space: nowrap;
  border-radius: 3.1rem;
  text-align: center;
  background-color: #F58A07;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.06;
  text-decoration: none;
  font-weight: 600;
  transition: opacity 0.3s ease;
}
.button:hover {
  opacity: 0.8;
}
.button:active {
  opacity: 0.6;
}

.site-header__button {
  min-width: 17.3rem;
  color: #F58A07;
  background-color: rgba(245, 138, 7, 0.1);
  margin-left: 40px;
}

.footer-form__button {
  border: 0;
  cursor: pointer;
  min-width: 15.7rem;
  background-color: #F58A07;
}

/* SITE-FOOTER */
.site-footer {
  background-color: #063255;
  color: #fff;
  background-color: #063255;
  color: #fff;
  background-image: url(.././images/footer-bg-left.svg), url(.././images/footer-bg-right.svg);
  background-repeat: no-repeat;
  background-position: bottom 0 left 0, right 0 top 15%;
}

.site-footer__container {
  padding: 8rem 0;
}

.site-footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 8rem;
}

.site-footer__top-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 35.5rem;
}

.site-footer__logo {
  margin-bottom: 3.5rem;
}

.site-footer__title {
  font-size: 3.6rem;
  line-height: 4.4rem;
  margin-bottom: 3.2rem;
}

.social {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__item:not(:last-child) {
  margin-right: 1.6rem;
}

.social__item-link {
  display: inline-block;
  transition: opacity 0.3s ease;
}

.social__item-link:hover {
  opacity: 0.8;
}

.social__item-link:active {
  opacity: 0.6;
}

.social__item-img {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.site-footer__top-company {
  display: flex;
  align-items: flex-start;
}

.footer-company__company {
  display: flex;
  flex-direction: column;
}

.footer-company__title {
  margin-bottom: 2.4rem;
  font-size: 1.8rem;
  line-height: normal;
}

.site-footer__sitenav > .sitenav__list {
  flex-direction: column;
}

.site-footer__sitenav .sitenav__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 1.6rem;
}

.site-footer__sitenav .sitenav__link {
  color: #fff;
  font-weight: 500;
}

.site-footer__sitenav .sitenav__link:hover {
  color: #F58A07;
}

.footer-company__connect {
  display: flex;
  flex-direction: column;
  margin-left: 10.6rem;
}

.footer-connect__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-connect__item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.footer-connect__link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

.footer-form__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* TITLE */
.title {
  letter-spacing: -3%;
  font-weight: 600;
  font-family: "Poppins", "Inter", sans-serif;
  margin-top: 0;
  line-height: 1.22;
}

.footer-form__title {
  font-size: 1.8rem;
  margin-bottom: 2.4rem;
  line-height: normal;
}

.footer-form__input {
  width: 100%;
  max-width: 34.5rem;
  border: none;
  margin-bottom: 1.6rem;
  border-radius: 3.1rem;
  padding: 1.8rem 3.2rem;
}

.footer-form__input::-moz-placeholder {
  color: #9C9C9C;
}

.footer-form__input::placeholder {
  color: #9C9C9C;
}

.footer-form__button {
  border: 0;
  cursor: pointer;
  min-width: 15.7rem;
  background-color: #F58A07;
}

.site-footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-size: 1.6rem;
}

.privacy-policy {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.privacy-policy__item:not(:last-child) {
  margin-right: 3.1rem;
}

.privacy-policy__link {
  display: inline-block;
  font-size: 1.6rem;
  text-transform: capitalize;
  text-decoration: none;
  transition: opacity 0.3s ease;
  color: #fff;
}

/* PRIVACY-POLICY */
.section-privacy__container {
  width: 100%;
  padding-top: 10.8rem;
  padding-bottom: 12.8rem;
  max-width: 75.2rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.6rem;
  line-height: 1.75;
}

.section-privacy__title {
  text-transform: capitalize;
  font-size: 6.4rem;
  margin-bottom: 2.4rem;
  color: #1d3444;
}

.section-privacy__time {
  color: #5B5B5B;
  margin-bottom: 4.8rem;
}

.section-privacy__privacy {
  margin-bottom: 4rem;
}

.privacy-content__description:not(:last-child) {
  margin-bottom: 2.4rem;
}

.section-privacy__policy-cover {
  margin-bottom: 4rem;
}

.policy-cover__title {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color: #394149;
  font-weight: 500;
}

.policy-cover__description:not(:last-child) {
  margin-bottom: 2.4rem;
}

.collect__title {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color: #394149;
  font-weight: 500;
}

.logo {
  display: flex;
  flex-shrink: 0;
  transition: opacity 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  display: block;
  width: rem;
  height: rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

/* SITENAV-LIST  */
.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 3.2rem;
}

.sitenav__link {
  display: inline-block;
  text-decoration: none;
  white-space: nowrap;
  color: var(--extra-dark-blue);
  font-family: var(--poppins);
  text-transform: capitalize;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  transition: color 0.3s ease, opacity 0.3s ease;
}

.sitenav__link:hover {
  color: var(--orange);
}

.sitenav__link:active {
  opacity: 0.6;
}

.sitenav__link--active {
  color: var(--orange);
}

/* TITLE */
.title {
  letter-spacing: -3%;
  font-weight: 600;
  font-family: "Poppins", "Inter", sans-serif;
  margin-top: 0;
  line-height: 1.22;
}

/* SITE-HEADER */
.site-header {
  background-color: #fff;
}

.site-header__container {
  display: flex;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.site-header__logo {
  margin-right: auto;
}

.hero {
  padding-top: 9.2rem;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__title--about {
  font-family: "Poppins", "Inter", sans-serif;
  color: #1D3444;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 7.2rem;
  letter-spacing: -1.92px;
  padding-bottom: 2.4rem;
}

.hero__description--about {
  font-family: "Poppins", "Inter", sans-serif;
  color: #5B5B5B;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 5rem;
}

.hero__img {
  position: relative;
}

.hero__img-text {
  position: absolute;
  top: 96%;
  left: 91%;
}

.experience {
  padding-top: 13.4rem;
  padding-bottom: 8.8rem;
}

.experience__container {
  display: flex;
  justify-content: space-between;
}
.experience__container h2 {
  color: #0D1317;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 4.4rem;
  letter-spacing: -1.08px;
}
.experience__container p {
  color: #1D3444;
  font-family: #1D3444;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}

.awards {
  padding-bottom: 12.8rem;
}

.awards__container {
  display: flex;
  justify-content: space-between;
}

.awards-wr h3 {
  color: #F58A07;
  font-family: Inter;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 5rem;
}
.awards-wr h4 {
  color: #0D1317;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 106.5%;
  letter-spacing: -0.72px;
  padding-bottom: 1.6rem;
  padding-top: 1.6rem;
}
.awards-wr p {
  color: #5B5B5B;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
}

.identification {
  padding-bottom: 9.6rem;
}

.identification__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.identification-content-wrapper h1 {
  color: #0D1317;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
  letter-spacing: -1.44px;
  padding-bottom: 3.2rem;
}
.identification-content-wrapper p {
  color: #5B5B5B;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}

.teamwork {
  padding-bottom: 12.8rem;
}

.teamwork-content-wr h1 {
  color: #0D1317;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
  letter-spacing: -1.44px;
}
.teamwork-content-wr p {
  color: #5B5B5B;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
  padding-top: 2.7rem;
  padding-bottom: 6.4rem;
}

.teamwork-images {
  display: flex;
  justify-content: space-between;
}

.dreamwork {
  padding-bottom: 12.8rem;
}

.dreamwork__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dreamwork-content-wr h1 {
  color: #0D1317;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 5.6rem;
  letter-spacing: -1.44px;
  text-transform: capitalize;
  padding-bottom: 2.4rem;
}
.dreamwork-content-wr p {
  color: #5B5B5B;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 3rem;
}

.profile-wr {
  display: flex;
  padding-top: 4rem;
}
.profile-wr img {
  -o-object-fit: cover;
     object-fit: cover;
}

.profile__text-wr {
  padding-left: 2.4rem;
}
.profile__text-wr h3 {
  color: #063255;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 171%;
}
.profile__text-wr p {
  color: #F58A07;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 171%;
}

.dreamwork-image-wr {
  position: relative;
}

.dreamwork__inner {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  padding-bottom: 4rem;
  padding-left: 4rem;
}
.dreamwork__inner p {
  padding-left: 1.7rem;
  color: #fff;
  font-family: Inter;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 101.8%;
  text-transform: capitalize;
}

.blog-and-news {
  background: #dceaf5;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.blog__container h1 {
  padding-bottom: 6.4rem;
}

.blogs-wrapper {
  display: flex;
  gap: 4rem;
  justify-content: center;
}
.blogs-wrapper h3 {
  color: #0D1317;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
  letter-spacing: -0.72px;
  padding-top: 3.2rem;
  padding-bottom: 1.6rem;
  padding: 3.2rem 3.2rem 0 3.2rem;
}
.blogs-wrapper p {
  color: #5B5B5B;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.8rem;
  padding-bottom: 2.4rem;
  padding-left: 3.2rem;
  padding-top: 1.6rem;
}
.blogs-wrapper span {
  color: #F58A07;
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 106.5%;
  padding-left: 3.2rem;
  padding-top: 2.4rem;
}
.blogs-wrapper span a {
  padding-bottom: 3.2rem;
  color: #F58A07;
}

.first-blog {
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
}

.second-blog {
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
}

.third-blog {
  background-color: #fff;
  border-radius: 20px 20px 20px 20px;
}

.main-start-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10.8rem;
}
.main-start-container h1 {
  font-size: 6.4rem;
  line-height: 1.2;
}
.main-start-container p {
  font-size: 1.8rem;
  color: #5B5B5B;
  text-align: left;
  padding-right: 12rem;
}

.main-start-h {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.button-two {
  padding: 1.8rem 3.2rem 1.8rem 3.2rem;
  background-color: #F58A07;
  border-radius: 2.7rem;
  color: #fff;
  width: 18rem;
}

.main-start-end-container {
  display: flex;
  flex-direction: column;
  margin-top: 12.8rem;
  margin-bottom: 12.8rem;
}
.main-start-end-container h2 {
  margin-bottom: 2.4rem;
  font-size: 4.8rem;
  font-weight: 600;
  color: #0D1317;
}

.start-end-ul {
  display: flex;
  gap: 4rem;
  margin-top: 4rem;
}
.start-end-ul h3 {
  padding-top: 3.2rem;
}
.start-end-ul li {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #e6f0f8;
  border-radius: 2rem;
  padding-left: 4rem;
  width: 36rem;
}
.start-end-ul li p {
  margin-bottom: 2.4rem;
}
.start-end-ul li a {
  color: #F58A07;
  padding-bottom: 3.2rem;
}

main {
  flex-grow: 1;
}

.hero {
  padding-top: 16px;
  background-color: #DCEAF5;
}

.hero__container {
  display: flex;
}

.description {
  padding-top: 117px;
}
.description h1 {
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-weight: 600;
  color: #1d3444;
}
.description p {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #5B5B5B;
  padding-top: 1.2rem;
}

.buttons {
  padding-top: 3.2rem;
}

.button__link {
  margin-left: 4rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #1D3444;
  transition: color ease 0.2s;
}
.button__link:hover {
  color: #F58A07;
}
.button__link:active {
  opacity: 0.8;
}

.partners {
  padding-top: 5.6rem;
}

.partners__title {
  font-size: 1.8rem;
  color: rgba(57, 65, 73, 0.5);
}

.partners__logo {
  padding-top: 1.8rem;
  cursor: pointer;
  gap: 4.5rem;
  display: flex;
}

.help {
  padding-top: 9.6rem;
}

.help__description {
  font-family: "Poppins", "Inter", sans-serif;
}
.help__description h2 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-weight: 600;
  color: #1d3444;
}
.help__description p {
  padding-top: 2.7rem;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #5B5B5B;
  font-weight: 500;
}

.news__list {
  gap: 4rem;
  padding-top: 6.4rem;
  display: flex;
}

.news__item span {
  font-size: 2.4rem;
  line-height: 106.5%;
  color: #0D1317;
  font-weight: 600;
  margin-top: 3.3rem;
}
.news__item p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: #5B5B5B;
}

.news__about {
  padding-top: 2.3rem;
}

.news__link {
  padding-top: 2.4rem;
  width: 12rem;
  height: 1.7rem;
}
.news__link a {
  font-size: 1.6rem;
  color: #F58A07;
  display: flex;
  transition: opacity 0.3s;
}
.news__link:hover {
  opacity: 0.8;
}
.news__link:active {
  opacity: 0.6;
}
.news__link img {
  margin-top: 10px;
  margin-left: 0.8rem;
}

.challenges {
  margin-top: 9.5rem;
  padding-bottom: 9.6rem;
  background-color: #EDF7FF;
}

.about {
  padding-top: 9.6rem;
  display: flex;
  gap: 4rem;
}
.about h2 {
  font-size: 3.6rem;
  line-height: 4.4rem;
  font-weight: 600;
  color: #0D1317;
}
.about p {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #1d3444;
}

.card {
  margin-top: 6.4rem;
}

.card__list {
  display: flex;
  gap: 3.8rem;
}

.card__item {
  background-color: #fff;
  width: 40.1rem;
  height: 27.7rem;
  border-radius: 2rem;
}

.card__item-inner {
  padding: 4.8rem 2.6rem 3.7rem 3.9rem;
}
.card__item-inner img {
  margin-bottom: 3.2rem;
}
.card__item-inner span {
  font-size: 2.4rem;
  line-height: 106.5%;
  font-weight: 600;
  color: #0D1317;
}
.card__item-inner p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #5B5B5B;
  font-weight: 500;
  margin-top: 1.6rem;
}

.experience {
  padding-top: 16.6rem;
}

.experience__container {
  display: flex;
}

.experience__description-us h1 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  color: #0D1317;
}
.experience__description-us p {
  font-size: 1.8rem;
  line-height: 3rem;
  color: #5B5B5B;
  padding-top: 3.2rem;
}

.statistics {
  padding-top: 4.8rem;
  display: flex;
  gap: 2.6rem;
}

.statistics__reply h3 {
  color: #0D1317;
  font-size: 2.4rem;
  line-height: 106.5%;
  font-weight: 600;
  margin-top: 1.6rem;
}
.statistics__reply p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #5B5B5B;
  margin-top: 1.6rem;
}

.statistics__number span {
  color: #F58A07;
  font-size: 3.6rem;
  line-height: 5rem;
  font-weight: 700;
}

.experience__images {
  position: relative;
}

.experience-img-right {
  border-radius: 15px;
  margin-left: auto;
  margin-top: -60px;
}

.experience-img-small {
  position: absolute;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.6rem;
  margin-top: 10.8rem;
}

.title {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 1.125;
  letter-spacing: -3%;
  margin-bottom: 2.4rem;
  color: #1D3444;
}

.text {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.66;
  margin-bottom: 3.2rem;
  color: #5B5B5B;
}

.business-strategy_list {
  list-style: circle;
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #5B5B5B;
}

.business-strategy_item {
  margin-bottom: 0.8rem;
}

.serve-clients_button {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 0.94;
  color: #fff;
  background-color: #F58A07;
}

.chikelu-neo_photo {
  display: flex;
  gap: 2.4rem;
}

.chikelu-neo_names {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chikelu-neo_name {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.71;
  color: #063255;
}

.mazeal {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.71;
  color: #F58A07;
}

.latest-blog {
  margin-top: 12.8rem;
  display: flex;
  justify-content: center;
  background-color: #DCEAF5;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}

.latast-blog_title {
  margin-bottom: 6.4rem;
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 1.16;
  color: #0D1317;
  letter-spacing: -3%;
}

.latest-blog_images {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.latest-blog_image {
  background-color: #fff;
  border-radius: 2rem 2rem;
  padding-bottom: 3.2rem;
}

.latest-blog_title {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: -3%;
  color: #0D1317;
}

.latest-blog_text {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: -3%;
  color: #5B5B5B;
  margin-bottom: 2.4rem;
  margin-left: 3.2rem;
}

.lastest-blog_link {
  font-family: "Poppins", "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.08;
  letter-spacing: -3%;
  color: #F58A07;
  margin-left: 3.2rem;
}

.latest-blog_internal_process {
  background-color: #fff;
  border-radius: 2rem 2rem;
}

.latest-blog_generation {
  background-color: #fff;
  border-radius: 2rem 2rem;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0.3rem dashed #F58A07;
  outline-offset: 0.4rem;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: 100%;
}

img {
  display: flex;
  -o-object-fit: cover;
     object-fit: cover; /* contain */
}

a {
  text-decoration: none;
  display: inline-block;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Poppins", "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  font-family: "Poppins", "Inter", sans-serif;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #0D1317;
}/*# sourceMappingURL=style.css.map */