
// SECTION START
.section {
}
.section-content {
  width: 100%;
  max-width: 75.2rem;
  background-color: blue;
}
.container {
}
.main-title {
}
.last-modification_short-text {
}
.last-modification_-text {
}
.police-covers_title {
}
.police-covers_text {
}
.information-collect_title {
}
.information-collect_text {
}
// SECTION END