
// MAIN START
.main {

}
.serve_clients {
  
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.6rem;
  margin-top: 10.8rem;
}
.desc {
 
}
.title {
  font-family: $main-font-family;
  font-weight: 600;
  font-size: 6.4rem;
  line-height: 1.125;
  letter-spacing: -3%;
  margin-bottom: 2.4rem;
  color: $light-dark;
}
.text {
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.66;
  margin-bottom: 3.2rem;
  color: $light-gray;
}
.business-strategy_list {
  list-style: circle;
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.75;
  color: $light-gray;
}
.business-strategy_item {
  margin-bottom: 0.8rem;
}
.serve-clients_button {
  font-family: $main-font-family;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 0.94;
  color: $white;
  background-color: $primary-orange;
}
.serve-clients_image {
}

.chikelu-neo_photo {
  display: flex;
  gap: 2.4rem;
}
.chikelu-neo_names {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chikelu-neo_name {
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.71;
  color: $dark-blue;
}
.mazeal {
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.71;
  color: $primary-orange;
}

// LASTEST START
.latest-blog {
  margin-top: 12.8rem;
  display: flex;
  justify-content: center ;
  background-color: #DCEAF5;
  padding-top: 9.6rem;
  padding-bottom: 9.6rem;
}
.larest-blog_content {
}
.container {
}
.latast-blog_title {
  margin-bottom: 6.4rem;
  font-family: $main-font-family;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 1.16;
  color: $dark;
  letter-spacing: -3%;
}
.latest-blog_images {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.latest-blog_image {
  background-color: $white;
  border-radius: 2rem 2rem;
  padding-bottom: 3.2rem;
}
.latest-blog_digitalize {
}
.latest-blog_title {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: -3%;
  color: $dark;
}
.latest-blog_text {
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: -3%;
  color: $light-gray;
  margin-bottom: 2.4rem;
  margin-left: 3.2rem;
}
.lastest-blog_link {
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.08;
  letter-spacing: -3%;
  color: $primary-orange;
  margin-left: 3.2rem;
}
.latest-blog_internal_process {
  background-color: $white;
  border-radius: 2rem 2rem;
}
.latest-blog_generation {
  background-color: $white;
  border-radius: 2rem 2rem;
}
// LASTEST END

// MAIN END