.logo {
 display: flex;
 flex-shrink: 0;
 transition: opacity 0.3s ease;
}

.logo:hover {
 opacity: 0.8;
}

.logo:active {
 opacity: 0.6;
}

.logo__img {
 display: block;
 width: rem;
 height: rem;
 object-fit: cover;
 object-position: center;
}

/* SITENAV-LIST  */
.sitenav__list {
 display: flex;
 margin: 0;
 padding: 0;
 list-style: none;
}

.sitenav__item:not(:last-child) {
 margin-right: 3.2rem;
}

.sitenav__link {
 display: inline-block;
 text-decoration: none;
 white-space: nowrap;
 color: var(--extra-dark-blue);
 font-family: var(--poppins);
 text-transform: capitalize;
 font-size: 1.6rem;
 line-height: 1.5;
 font-weight: 600;
 transition: color 0.3s ease,
 opacity 0.3s ease;
}

.sitenav__link:hover {
 color: var(--orange);
}

.sitenav__link:active {
 opacity: 0.6;
}

.sitenav__link--active {
 color: var(--orange);
}

/* TITLE */
.title {
 letter-spacing: -3%;
 font-weight: 600;
 font-family: $main-font-family;
 margin-top: 0;
 line-height: 1.22;
}


/* SITE-HEADER */
.site-header {
 background-color: $white;
}

.site-header__container {
 display: flex;
 align-items: center;
 padding-top: 1.6rem;
 padding-bottom: 1.6rem;
}

.site-header__logo {
 margin-right: auto;
}