// COLOR
$primary-orange: #F58A07;
$gray: #9C9C9C;
$light-gray: #5B5B5B;
$light-dark: #1D3444;
$dark: #0D1317;
$white: #fff;
$light-blue: #EDF7FF;
$dark-blue: #063255;
$hard-blue: #1d3444;
$primary-dark: #394149;


// FONTS
$main-font-family:"Poppins", "Inter", sans-serif ;

$header-titles: 10rem;
$header-large-titles-lh: 1;

$section-titles: 4.8rem;
$section-titles-lh: 5.6rem;

$card-titles: 2.4rem;
$card-titles: 106.5%;

$descriptions: 1.8rem;
$descriptions-lh: 3rem;

$body-small-txt: 1.6rem;
$body-small-txt-lh: 106.5%;

$weight: 600;

